<div id="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ text_search }}" aria-label="Search..." name="search" value="{{ search }}">
        <button class="btn close-search" type="button"><i class="fas fa-times"></i></button>
        <button class="btn" type="button"><i class="fas fa-search"></i></button>
    </div>
</div>
<a href="#" class="open-search"><i class="fas fa-search"></i></a>